[Unit]
Description=NovaCore Heartbeat Timer
After=network-online.target

[Timer]
OnBootSec=2min
OnUnitActiveSec=30min
AccuracySec=1min

[Install]
WantedBy=timers.target
